<div class = "home-title-container">
    <h1>Negotation Simulator </h1>
    <p> Insert description for the simulator</p>
    <button routerLink="/input"> Try Different Negotations</button>
</div>
<h2> What are the different kinds of Philosophical Frameworks?</h2>
<div class = "all-frameworks">
    <div class = "frameworks">
        <h3>Utilitarianism</h3>
        <p>insert information on what this is</p>
    </div>
<div class = "frameworks">
    <h3>Deontology</h3>
    <p>insert information on what this is</p>
</div>

<div class = "frameworks">
    <h3>Virtue Ethics</h3>
    <p>insert information on what this is</p>
</div>

<div class = "frameworks">
    <h3>Rawlsian Justice</h3>
    <p>insert information on what this is</p>
</div>

<div class = "frameworks">
    <h3>Care Ethics</h3>
    <p>insert information on what this is</p>
</div>
</div>



